@page "/CarDetails/{carId}"
@using CarRentalsBlazorEcho.Models
@using CarRentalsBlazorEcho.Data
@inject ICar _carRep
@inject NavigationManager NavigationManager

<h3>Car Details</h3>

@if (car != null)
{
    <div>
        <p><strong>Brand:</strong> @car.Brand</p>
        <p><strong>Model:</strong> @car.Model</p>
        <p><strong>Price:</strong> @car.Price</p>
        <p><strong>Car Category:</strong>@car.CarCategoryId</p>
        <p><strong>Available:</strong> @car.Available</p>
    </div>
    <button @onclick="NavigateToCars">Back to Cars</button>
}
else
{
    <p>Loading...</p>
}

@code {
    Car car;

    [Parameter]
    public string CarId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(CarId) && int.TryParse(CarId, out int id))
        {
            car = await _carRep.GetByIdAsync(id);
        }
    }

    private void NavigateToCars()
    {
        NavigationManager.NavigateTo("/Cars");
    }
}